<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @tipo_documento.descricao %>
</p>


<%= link_to 'Edit', edit_tipo_documento_path(@tipo_documento) %> |
<%= link_to 'Back', tipo_documentos_path %>
